.fireImg{
    width:120px;
    heigt:auto;
    position:absolute;
}



body{
    background-image : url('bg.jpg');
    background-size : cover;

}

h1{
    font-size:80px;
    color:white;
}
